.App {
  text-align: center;
  margin: 0;
}

.pageHeader h1 {
  margin: 0;
}
.pageHeader {
  background-color: #61dafb;
  padding: 0;
  margin:  0;
}

.moviesCardsContainer {
  margin-top: 50px;
}

.moviesList {
  padding-top: 10px;
  padding-bottom: 10px;
}

.movieCard {
  width: 230px;
  display: inline-block;
  margin: 1em;
}

.movieCard:hover{

}

.imdbNote {
  margin-top: 0.5em;
  font-weight: 600;
  font-family: 'Roboto Thin', sans-serif;
  text-align: center;
  color: deepskyblue;
  font-size: 0.95em;
}

.movieCardCoverPicture {

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cardMovieTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.35;
  margin-left: 0;
  margin-right: 0;
  width: 230px;
  color: #1976d2;
  white-space: nowrap;
  overflow: hidden;
}

.cardMovieTitle > h3 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
.cardNormalText {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: gray;
  padding: 1px;
  margin: 0;
}
.qualityChipsContainer {
  padding: 0.25em;
}
.qualityChips {
  margin: 0.25em;
}
#modalContainer {
  text-align: center;
}
.modalContainer {
  background-color: white;
}
.MovieModalTitleContainer{
  display: inline-block;
  margin-left: 1em;
}
.trailerContainer {
  display: inline-block;
  margin-right: 1em;
}
.youtubeTrailer{
  width: 600px;
  height: 300px;
}